#{RDiscount.new(item.description, :smart, :filter_html).to_html}

%form{:action => "/user/buy/#{item.id}", :method => "POST"}
  %input.textbox8{:type => "text", :name => "buy_amount", :style => "width: 30px", :value => "1"}
  %input.styled-button.small.buy-color{:type => "submit", :value => @user.working_as_self? ? "Buy" : "Buy as #{@user.on_behalf_of.name}"}