#{RDiscount.new(item.description, :smart, :filter_html).to_html}

-if item.buyable_by?(user)
  %form{:action => "/user/buy/#{item.id}", :method => "POST"}
    -if !item.is_auction?
      %input.textbox8{:type => "text", :name => "buy_amount", :style => "width: 30px", :value => "1"}
    %input{:type => "submit", :value => item.is_auction? ? "Bid" : "Buy"}