%form{:action => action_url, :method => "POST", :onsubmit => "return validate_item_edit(this);", :enctype => "multipart/form-data"}
  :javascript
    //addListener();
    $(document).ready(function() {
      $('#datetimepicker').datetimepicker({ dateFormat: 'dd-mm-yy', minDate: 0 });
      updateForm();
    });
  %h3.no_top_margin
    Name
  %p
    %input.textbox8{:type => "text", :name => "item_name", :style => "width: 60px", :value => item_name}
  %h3
    Price
  %p
    %input.textbox8{:type => "text", :name => "item_price", :style => "width: 60px", :value => item_price}
  %h3
    Selling mode
  %p
    %input{ :type => "radio", :name => "selling_mode", :value => "fixed", :id =>"selling_mode_fixed", :onclick => "updateForm()", :checked => !defined?(selling_mode) ? true : selling_mode == :fixed}
      Fixed
    %input{ :type => "radio", :name => "selling_mode", :value => "auction", :id =>"selling_mode_auction", :onclick => "updateForm()", :checked => !defined?(selling_mode) ? false : selling_mode == :auction }
      Auction
  %div{ :id => "auction_options", :style => "display: none"}
    %h3
      Increment (auction only)
    %p
      %input.textbox8{:type => "text", :name => "item_increment", :style => "width: 60px", :value => item_increment}
    %h3
      End-Date (auction only)
    %p
      %input.textbox8{:type => "text", :id => "datetimepicker", :name => "auction_end", :style => "width: 60px", :value => auction_end}
  -if not edit
    %h3
      Owner
    %p
      %select{:name => "owner"}
        - if @user.on_behalf_of == @user
          %option{:value => @user.name, :selected => "true"} Myself
        - else
          %option{:value => @user.name} Myself
        - for org in @user.organizations
          - if @user.on_behalf_of == org
            %option{:value => org.name, :selected => "true"}
              =org.name
          - else
            %option{:value => org.name}
              =org.name
    %h3
      Quantity
    %input.textbox8{:type => "text", :name => "item_quantity", :style => "width: 60px"}
  %h3
    Description
  %p
    %textarea.textbox8.about_yourself{:name => "item_description"}
      - lines = ("#{item_desc}").split("\n")
      - unless lines.empty?
        - lines.each do |line|
          =line
  %h3
    Change image
  %div.button_container
    %input.styled-button{:type => 'file', :name => "file_upload", :accept => "image/*"}
  %br
  %br
  %div.button_container
    -if edit
      %input.styled-button{:type => "submit", :value => "Save Changes"}
    -else
      %input{:name => "_method", :type => "hidden", :value => "PUT"}
      %input.styled-button{:type => "submit", :value => "Create Item"}
  %br
