%form{:action => action_url, :method => "POST", :onsubmit => "return validate_login(this);", :enctype => "multipart/form-data"}
  %h3.no_top_margin
    Name
  %p
    %input.textbox8{:type => "text", :name => "item_name", :style => "width: 60px", :value => item_name}
  %h3
    Price
  %p
    %input.textbox8{:type => "text", :name => "item_price", :style => "width: 60px", :value => item_price}
  %h3
    Description
  %p
    %textarea.textbox8.about_yourself{:name => "item_description"}
      -#=item_desc
      - lines = ("#{item_desc}").split("\n")
      - unless lines.empty?
        - lines.each do |line|
          =line
  %h3
    Change image
  %div#button_container
    %input.styled-button{:type => 'file', :name => "file_upload", :accept => "image/*"}
  %p
  %div#button_container
    -if edit
      %input.styled-button{:type => "submit", :value => "Save Changes"}
    -else
      %input{:name => "_method", :type => "hidden", :value => "PUT"}
      %input.styled-button{:type => "submit", :value => "Create Item"}
:javascript
  function validate_login(form) {
    if (form.item_name.value == "") {
      form.item_name.style.backgroundColor = "rgba(245, 106, 82, 0.41)"
      document.getElementById('error_message').innerHTML = "Please enter an item name"
      return false
    }
    else if (form.item_price.value == "") {
      form.item_price.style.backgroundColor = "rgba(245, 106, 82, 0.41)"
      document.getElementById('error_message').innerHTML = "Please enter a price for the item"
      return false
    }

    return true;
  }
