html {
    font-family: verdana,helvetica,arial,sans-serif;;
}

body {
    margin: 0px;
}

h1, h2, h3 {
    color: #23496B;
}

a, a.visited {
    text-decoration: none;
    color: #23496B;
}

#outer {
    background-color: #BCD;
    padding: 1em 0;
    min-height: 1000px;
    position: relative;
}

#inner {
    background-color: #FFFFFF;
    width: 850px;
    margin: 0px auto;
    min-height: 400px;
    padding: 1em;
    position: relative;
}

p.logged_in_status {
    margin-top: 0px;
    text-align: left;
}

p.credit_status {
    margin-top: 0px;
    text-align: center;
}

hr.styled-line {
    border: 0;
    height: 1px;
    margin: 0;
    background: #333;
}

#status_container {
    width: 100%;
    background-color: #BCD;
    height: 2em;
    position: relative;
    display: table;
}

#login_status {
    float: right;
    height: 100%;
    text-align: right;
    font-size: 12px;
    display: table-cell;
    padding: 10px 1em
}

#login_status a:hover {
    text-decoration: underline;
}

#credit_status {
    float: left;
    width: 33%;
    height: 100%;
    text-align: center;
    display: table-cell;
    padding: 8px 0;
}

#nav_menu {
    float: left;
    height: 100%;
    text-align: left;
    display: table-cell;
}

#nav_menu ul {
    list-style-type: none;
    display: block;
    margin: 0px;
    padding: 0px;
    height:100%;
}

#nav_menu li
{
    height:100%;
    float: left;
    display: inline;
}

#nav_menu li:hover {
    background-color: rgb(206, 224, 241);
}

#nav_menu li a {
    height:100%;
    display: block;
    padding: 10px 1em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

#content {
    padding: 1em;
    width: 100%;
    display: table;
    word-break: break-all;
}
#content p{
    padding-left: 1em;
}

.table-minimalistic
{
	font-size: 12px;
	background: #fff;
	margin: 2em;

	border-collapse: collapse;
	text-align: left;
}
.table-minimalistic th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
.table-minimalistic td
{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}
.table-minimalistic tbody tr:hover td
{
    background: #eff2ff;
	color: #009;
}

.table-minimalistic a:hover {
    text-decoration: underline;
}

.styled-button {
    background-color:#EEE;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border:1px solid #999;
    color:#666;
    font-family:verdana,helvetica,arial,sans-serif;;
    font-size:13px;
    font-weight: normal;
    padding:2px 6px;
    /*height:22px;*/
    margin:0px;
}

.small {
   font-size: 11px;
}

.styled-button:hover{
    /*border:1px solid black; */
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
}

.delete-color {
    background-color: rgba(255, 0, 2, 0.29);
}

.buy-color {
    background-color: rgba(118, 212, 0, 0.44)
}

.textbox8 {
    /*width: 230px;*/
    border: 1px solid #BCD;
    border-left: 4px solid #BCD;
}

.action_buttons {
    min-width: 80px;
    display: inline-block;
}

.action_buttons.float_right {
   float: right;
}
.button_container {
    margin-right: 8px;
    float:left;
    display:inline;
}

.ralign {
    text-align: right;
}

.picture_container {
    padding: 1em 2em 1em 1em;
    border-right: 1px solid;
    border-color: #23496B;
    float: left;
}

.picture_container.float_right{
    float: right;
    border: 0;
}

.details_container {
    max-width: 50%;
    padding: 1em;
    float:left;
    word-wrap: break-word;
}

.details_container p {
    margin-left: 1em;
    display: table;
}

#item_details {
    display: table;
}

.no_top_margin {
    margin-top: 0px;
}

.about_yourself {
    width: 300px;
    height: 60px;
    resize: none;
}

.bold {
    font-weight: bold;
}

.tooltip {
    /*border-bottom: 1px dotted #000000;*/
    color: #000000; outline: none;
    text-decoration: none;
    position: relative;
}
.tooltip span {
    margin-left: -999em;
    position: absolute;
}
.tooltip:hover span {
    /*border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    font-family: Calibri, Tahoma, Geneva, sans-serif;*/
    position: absolute; left: 1em; top: 2em; z-index: 99;
    margin-left: 0; width: 250px;
}
.tooltip:hover img {
    border: 0; margin: -10px 0 0 -55px;
    float: left; position: absolute;
}
.tooltip:hover em {
    font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
    display: block; padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }

* html a:hover { background: transparent; }
.classic {background: #c2dbff; border: 1px solid #6677ff; }

ul.description {
    padding: 0;
}
li.without_points {
    list-style-type: none;
    margin-left: 1em;
}

a.back:hover {
    text-decoration: underline;
}

a.underlined:hover {
    text-decoration: underline;
}

p#error_message {
    color: red;
    font-weight: bold;
}

div.markdown_view {
    /*UG: ToDo*/
}

