.idea/
*.orig
*.jpg
*.png
*.jpeg
*.gif
*.csv
!bg_site.jpg
!banner_trading.png
!no_image.gif
!cool.gif
!crazy.gif
!disappointed.gif
!double_minded.gif
!laugh.gif
!sad.gif
!shocked.gif
!smile.gif
!yeah.gif
!test_picture.jpg
!first.png
!last.png
!next.png
!prev.png