%h2
  System Parameters
%h3
  Change Tax and Tax frequency.
%form{:action => "/admin/changeParams", :method => "POST"}
  %table
    %tr
      %td
        %label Frequency (value[smhd])
      %td
        %input.textbox8{:style => "width: 60px", :type => "text", :name => "frequency", :value => TradingAuthority.credit_reduce_time}s
      %td
    %tr
      %td
        %label Tax per Cycle (0-100)
      %td
        %input.textbox8{:style => "width: 60px", :type => "text", :name => "tax", :value => TradingAuthority.credit_reduce_rate }%
    %tr
      %td
        %label Bonus on sell (0-100)
      %td
        %input.textbox8{:style => "width: 60px", :type => "text", :name => "bonus", :value => TradingAuthority.sell_bonus}%
    %tr
      %td
      %td{:align => "right"}
        %input.styled-button{:type => "submit", :text => "submit", :value => "Save"}
      %td
%h3
