%h2
  Users
%h3
  The following users are registered by the system
%table.table-minimalistic{:id => "Table", :class => "tablesorter pager", :align => "center"}
  %thead
    %tr
      %th Pic
      %th Name
      %th Credits
      %th No. of items
  %tbody
    -for user in Store::User.all_active
      %tr
        %td
          %img{:src => user.image_path, :height => "40px"}
        %td
          %a{:href => url("/user/#{user.name}")}
            :escaped
              #{user.name}
        %td.ralign
          #{user.credits}
        %td.ralign
          #{user.items.size}
=haml :'partials/pagination'