%div#actionbar
  %h2.float_left
    Activities
  %div.action_buttons.float_right
    %form{:action => "/purchases/dump", :method => "POST"}
      %input.styled-button{:type => "submit", :value => "Dump transactions to disk"}
%h3
  Monitor the latest activities
%table.table-minimalistic{:id => "Table", :class => "tablesorter pager", :align => "center"}
  %thead
    %tr
      %th Timestamp
      %th Type
      %th What
      %th
  %tbody
    -for activity in activities
      %tr
        %td
          =activity.timestamp.asctime.to_s
        %td
          =activity.type
        %td
          =activity.what_happened
        -#%td
        -#  %a{:href => "/activity/#{activity.id}"} Details
=haml :'partials/pagination'