%div#actionbar
  %h2.float_left
    Activities
%h3
  Monitor the latest activities
%div.filters
  %form{:action => '/activities#Table', :method => "GET"}
    -for filter in Analytics::ActivityLogger.filters
      -if active_filters.include?(filter)
        %input{:type => "checkbox", :name => "filters[]", :value => filter, :checked => 'true', :onchange => "this.form.submit();"}
      -else
        %input{:type => "checkbox", :name => "filters[]", :value => filter,:onchange => "this.form.submit();" }
      -case filter
        -when :ITEM_BUY
          Purchases
        -when :ITEM_ADD
          Item Additions
        -when :ITEM_EDIT
          Item Edits
        -when :ITEM_STATUS_CHANGE
          Item Status Changes
        -when :ITEM_DELETE
          Item Deletions
        -when :USER_LOGIN
          User Logins
        -when :USER_LOGOUT
          User Logouts
-if activities.empty?
  %p No activities
-else
  %table.table-minimalistic{:id => "Table", :class => "tablesorter pager"}
    %thead
      %tr
        %th Timestamp
        %th Type
        %th What
        %th
    %tbody
      -for activity in activities
        %tr
          %td
            =activity.timestamp.asctime.to_s
          %td
            =activity.type
          %td
            =activity.what_happened
  =haml :'partials/pagination'