%h2
  Item Details
#item_details
  #picture_container
    %img{:src => "/images/no_image.gif", :width => "200", :height => "200" }
  #details_container
    %form{:action => "/item/#{item.id}/edit", :method => "POST"}
      %h3.no_top_margin
        Name
      %p
        %input.textbox8(type="text" name="item_name" style="width: 60px" value="#{item.name}")
      %h3
        Price
      %p
        %input.textbox8(type="text" name="item_price" style="width: 60px" value="#{item.price}")
      %h3
        Description
      %p
        %textarea.textbox8.about_yourself{:name => "item_description"}
          #{item.description}
      %p
        #button_container
          %input.styled-button-4{:type => "submit", :value => "Save", :text => "createBtn"}
