%h2
  Edit Profile
%h3
  Change your properties
%h5
  You must enter your old password to save changes
%form{:action => "/user/#{@user.name}/edit", :method => "POST", :onsubmit => "return validate_profile_edit(this);"}
  %table
    %tr
      %td
        %label.bold Old Password:
      %td
        %input.textbox8{:type => "password", :name => "password_old"}
    %tr
      %td
        %label New Password*:
      %td
        %input.textbox8{:type => "password", :name => "password_new"}
    %tr
      %td
        %label Repeat Password:
      %td
        %input.textbox8{:type => "password", :name => "rep_password"}
    %tr{:style=> "height: 16px"}
    %tr
      %td
        %label About Yourself:
      %td
        %textarea.textbox8.about_yourself{:name => "description"}
          - lines = ("#{@user.description}").split("\n")
          - unless lines.empty?
            - lines.each do |line|
              =line
    %tr
      %td
      %td
        %input.styled-button{:type => "submit", :value => "Save Changes"}
%br
%p.small
  *) Password must be at least 8 characters long and consist of lowercase letters, uppercase letters and
  numbers
%h3 Upload User Picture
%form(action = "/user/#{@user.name}/images" method = "POST" enctype="multipart/form-data")
  %input(type='file' name="file_upload" accept="image/*")
  %input(type='submit' value='Upload File' class = 'styled-button')