%h2
  Edit Item
%div#item_details
  %div.picture_container
    %img{:src => "#{item.image_path}", :width => "200", :height => "200" }
  %div.details_container
    =haml :"/partials/item_edit_form", :locals => { :action_url => "/item/#{item.id}/edit",
                                                    :item_name => item.name,
                                                    :item_price => item.price,
                                                    :item_desc => item.description,
                                                    :edit => true}
    %br
    %form{:action =>"/item/#{item.id}/edit/undo_description", :method => "POST"}
      %input.styled-button{:type => "submit", :value => "Revert to Last Description"}