%h2
  Edit Item
%div#item_details
  %div.picture_container
    %img{:src => "#{item.image_path}", :width => "200"}
  %div.details_container
    =haml :"/partials/item_edit_form", :locals => { :action_url => "/item/#{item.id}/edit",
                                                    :item_name => item.name,
                                                    :item_price => item.price,
                                                    :item_desc => show_previous_description ? Analytics::ActivityLogger.get_previous_description(item) : item.description,
                                                    :item_increment => item.increment,
                                                    :auction_end => item.end_time,
                                                    :selling_mode => item.selling_mode,
                                                    :edit => true }
    %br
    -if not show_previous_description
      %a.styled-button{:href => "/item/#{item.id}/edit?sld=true"}
        Get Previous Description