%h2
  Error
%h3
  Something went wrong:
%p
  =error_message
-if should_refresh
  %a.styled-button{:href => last_page} Go Back
-else
  %input.styled-button{:type => "button", :value => "Go Back", :onclick => "goBack()"}