%h2 Login
%form{:action => "/login", :method => "POST", :onsubmit => "return validate_login(this);"}
  %table
    %tr
      %td
        %label Username
      %td
        %input.textbox8{:type => "text", :name => "username"}
      %td
    %tr
      %td
        %label Password
      %td
        %input.textbox8{:type => "password", :name => "password"}
    %tr
      %td
      %td{:align => "right"}
        %input.styled-button{:type => "submit", :text => "submit", :value => "Login"}
      %td
%h3
  Forgot your Password?
%form{:action => "/login/passwordReset/", :method => "POST", }
  %table
    %tr
      %td
        %label Username
      %td
        %input.textbox8{:type => "text", :name => "username"}
      %td
    %tr
      %td
      %td{:align => "right"}
        %input.styled-button{:type => "submit", :text => "submit", :value => "Reset Password"}
      %td