%h2 Register
%form{:action => "/register", :method => "POST"}
  %table
    %tr
      %td
        %label Username
      %td
        %input.textbox8{:type => "text", :name => "username"}
    %tr
      %td
        %label Password
      %td
        %input.textbox8{:type => "password", :name => "password"}
    %tr
      %td
        %label Repeat Password
      %td
        %input.textbox8{:type => "password", :name => "rep_password"}
    %tr
      %td
      %td{:align => "right"}
        %input.styled-button-4{:type => "submit", :text => "submit", :value => "Register"}