%h2 Register
%p#reqistry_information
  Required fields are marked in bold. Leading whitespaces will be ignored and special characters will be removed due to security
%form{:action => "/register", :method => "POST", :onsubmit => "return validate_registration(this);"}
  %table
    %tr
      %td
        %label.bold Username:
      %td
        %input.textbox8{:type => "text", :name => "username"}
    %tr{:style=> "height: 16px"}
    %tr
      %td
        %label.bold Password*:
      %td
        %input.textbox8{:type => "password", :name => "password"}
    %tr
      %td
        %label.bold Repeat Password:
      %td
        %input.textbox8{:type => "password", :name => "rep_password"}
    %tr{:style=> "height: 16px"}
    %tr
      %td
        %label.bold E-mail:
      %td
        %input.textbox8{:type => "email", :name => "email"}
    %tr
      %td
        %label About Yourself:
      %td
        %textarea.textbox8.about_yourself{:name => "description"}
    %tr
      %td
      %td{:align => "right"}
        %input.styled-button{:type => "reset", :value => "Clear"}
        %input.styled-button{:type => "submit", :value => "Register"}
%p.small
  *) Password must be at least 8 characters long and consist of lowercase letters, uppercase letters and
  numbers
%a.back{:href => url("/")} Back to login

