%div#actionbar
  %h2.float_left
    Store
  %div.action_buttons.float_right
    %a.styled-button{:href => "/item/new"} Propose new Item
%h3
  Recent purchases:
- if most_recent_purchases.empty?
  %p No recent purchases
-else
  %table.table-minimalistic{:id => "Table", :class => "tablesorter pager", :align => "center"}
    %thead
      %tr
        %th Date
        %th Activity
    %tbody
      -for activity in most_recent_purchases
        %tr
          %td
            =activity.timestamp.asctime.to_s
          %td
            =activity.what_happened
  =haml :'partials/pagination'