!!! XML
!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %link{:rel => "stylesheet", :href => url("styles.css"), :type => "text/css"}
    %title
      Awesome Trading App
  %body
    #outer
      #inner
        %table{:id => "status_table"}
          %tr
            %td{:style => 'text-align: left; width: 30%'}
              -if session[:name] != nil
                Logged in as
                %a{:href => url("/profile/#{session[:name]}")} #{session[:name]}
              -else
                Not logged in!
            %td{:style => 'text-align: center'}
              -if session[:name] != nil
                Credits: $#{App.get_user_by_name(session[:name]).credits}
            %td{:style => 'width: 30%'}
              -if session[:name] != nil
                %table{:style => 'text-align: right'}
                  %td
                    %a{:href => url("/")} Store
                  %td
                    %a{:href => url("/users")} Users
                  %td
                    %a{:href => url("/items")} Items
                  %td
                    %a{:href => url("/logout")} Logout
        %hr{:class => "styled-line"}
        =yield