%h1 Login
%form(action="/login" method="POST" )
  %label
    Username
    %input(type="text" name="username" class="textbox8")
  %br
  %label
    Password
    %input(type="password" name="password" class="textbox8")
  %input(type="submit" text="submit" class="styled-button-4")