%h1 Login
%form( action="/login" method="POST" )
  %label
    Username
    %input(type="text" name="username")
  %label
    Password
    %input(type="password" name="password")
  %input(type="submit" text="submit")